* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  width: 100%;
  position: relative;
}

.logo {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 150px;
  z-index: 3;
  animation: logo_static 20s infinite;
}

@keyframes logo_static {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.border-logo {
  width: 150px;
  height: 60px;
  position: absolute;
  top: 40px;
  z-index: 2;
  background: linear-gradient(360deg, rgb(59, 59, 59), black);
}

.container {
  max-width: 1280px;
  width: 100%;
  height: 60px;
  background: linear-gradient(360deg, rgb(59, 59, 59), black);
  color: #fff;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 0;
}

h1 {
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.animation {
  top: 0;
  position: absolute;
  left: 0;
  width: 1500px;
  animation: text_move 50s infinite;
  animation-timing-function: linear;
}

@keyframes text_move {
  0% {
    transform: translateX(1080px);
    opacity: 0;
  }

  2% {
    opacity: 1;
  }

  28% {
    opacity: 1;
  }

  30% {
    opacity: 0;
    transform: translateX(-600px);
  }

  100% {
    opacity: 0;
  }
}

.static {
  top: 0;
  position: absolute;
  left: 180px;
  width: 1500px;
  animation: text_static 50s infinite;
}

@keyframes text_static {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  32% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}